# pytorch_lightning==1.7.5
seed_everything: 42
trainer:
  logger: 
    class_path: pytorch_lightning.loggers.TensorBoardLogger
    init_args:
      save_dir: ./lightning_logs
      name: ViTASD-B
      version: 1
      default_hp_metric: false
  enable_checkpointing: true
  callbacks:
    class_path: pytorch_lightning.callbacks.ModelCheckpoint
    init_args:
      dirpath: ./lightning_logs/ViTASD-B
      save_top_k: 3
      monitor: Accuracy/val
      mode: max
      save_weights_only: true
      auto_insert_metric_name: true
  default_root_dir: null
  gradient_clip_val: null
  gradient_clip_algorithm: null
  num_nodes: 1
  num_processes: null
  devices: 4
  gpus: null
  auto_select_gpus: false
  tpu_cores: null
  ipus: null
  enable_progress_bar: true
  overfit_batches: 0.0
  track_grad_norm: -1
  check_val_every_n_epoch: 1
  fast_dev_run: false
  accumulate_grad_batches: null
  max_epochs: &epochs 300
  min_epochs: null
  max_steps: -1
  min_steps: null
  max_time: null
  limit_train_batches: null
  limit_val_batches: null
  limit_test_batches: null
  limit_predict_batches: null
  val_check_interval: null
  log_every_n_steps: 50
  accelerator: gpu
  strategy: null
  sync_batchnorm: false
  precision: 32
  enable_model_summary: true
  weights_save_path: null
  num_sanity_val_steps: 2
  resume_from_checkpoint: null
  profiler: null
  benchmark: null
  deterministic: null
  reload_dataloaders_every_n_epochs: 0
  auto_lr_find: false
  replace_sampler_ddp: true
  detect_anomaly: false
  auto_scale_batch_size: false
  plugins: null
  amp_backend: native
  amp_level: null
  move_metrics_to_cpu: false
  multiple_trainloader_mode: max_size_cycle
model:
  num_classes: 2
  attn_only: true
  opt: adamw
  weight_decay: 0.05
  sched: cosine
  lr: 1.0e-05
  warmup_lr: 1.0e-06
  min_lr: 1.0e-06
  warmup_epochs: 5
  cooldown_epochs: 0
  smoothing: 0.0
  batch_size: &bs 16
  model: deit3_base_patch16_224
  mixup: 0.8
  cutmix: 1.0
data:
  batch_size: *bs
  num_workers: 4
  three_augment: false
ckpt_path: null
